@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

/*---------page styles---------*/
body {
    text-align: center;
    font-family: "Slackey", sans-serif;
    background-color: #FAEFD6;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}


p {
    margin-top: -1rem;
    font-size: 1.5rem;
    color: #000000;
}

h1 {
    font-size: 5rem;
    color: #FF8C37;
}

h2 {
    font-size: 3rem;
    color: #FFEEC6;
}

/*---------fonts---------*/
.gaegu {
    font-family: "Gaegu", sans-serif;
}

.noto-color-emoji-regular {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*---------game styles---------*/

/*winning message*/
.hide-message {
    display: none;
}

.winning-message {
    position: fixed;
    width: 50%;
    padding: 2rem;
    font-size: 2rem;
    background-color: #09AFB4;
    border-radius: 10px;
    margin: auto;
    top: 20%;
    bottom: 20%;
    left: 0;
    right: 0;
    animation: popup 0.5s ease-in-out;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*winning message components*/
.play-again {
    background-color: #FF8C37;
    color: #FAEFD6;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s;
    font-family: "Slackey", sans-serif;
}

.play-again:hover {
    transform: scale(1.1), rotate(3deg);
}

.congrats {
    font-size: 2rem;
    font-family: "Gaegu", sans-serif;
    color: #FFEEC6;
}

.bigIcon {
    font-size: 4rem;
    margin-bottom: -1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*game board*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 60vw;
    max-width: 30rem;
    background-color: #FF8C37;
}

.cell {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: #FAEFD6;
    color: #FF8C37;
    border-radius: -10px;
    cursor: pointer;
    transition: background-color  0.3s;
}

/* x */
.cell.x {
    font-size: 0;
    color: #FF8C37;
    position: relative;
}

.cell.x::before,
.cell.x::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 10%;
    background-color: #FF8C37;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell.x::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell.x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cell.x::before {
    animation: draw-line 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.cell.x::after {
    animation: draw-line 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes draw-line {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

/* o */

.cell.o {
    font-size: 0;
    color: #09AFB4;
    position: relative;
}

.cell.o::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #09AFB4;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: draw-circle 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.cell.o::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: inherit;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes draw-circle {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* other useful styles */
.bodyPlayer2 {
    background-color: #b5dcdd;

}

.Blue {
    font-weight: bold;
    color: #09AFB4;
}

.orange {
    color: #FF8C37;
}

.green {
    background-color: #a1ddb6;
    transition: all 0.3s;
}

@media (min-width: 0px) {
    .board {
        width: 90vw;
        max-width: 90vw;
    }

    .cell {
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .congrats {
        font-size: 1.5rem;
    }

    .winning-message {
        width: auto;
        left: 0%;
        right: 0%;
        bottom: 0%;
    }

    .bigIcon {
        font-size: 9rem;
    }
}

/* media queries */

@media (min-width: 600px) {
    .board {
        width: 65vw;
        max-width: 60rem;
    }

    .cell {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;

    }

    .congrats {
        font-size: 1.5rem;
    }

    .winning-message {
        width: 75%;
        bottom: 20%;
    }

    .bigIcon {
        font-size: 5rem;
    }
}

@media (min-width: 900px) {
    .board {
        width: 35vw;
        max-width: 30rem;
    }

    .cell {
        font-size: 3.5rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    .card-back {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .winning-message {
        width: 60%;
        bottom: 20%;
    }
}

@media (min-width: 2000px) {
    .board {
        width: 40vw;
        max-width: 35rem;
    }

    .cell {
        font-size: 4rem;
    }


    h1 {
        font-size: 4.5rem;
    }

    .card-back {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .winning-message {
        width: 40%;
        bottom: 20%;
    }
}